-----BEGIN CERTIFICATE-----
MIIDQjCCAiqgAwIBAgIIFR7wg+OkXvwwDQYJKoZIhvcNAQELBQAwFTETMBEGA1UE
AxMKa3ViZXJuZXRlczAeFw0yMzEyMzAwNjE5MjZaFw0yNDEyMjkwNjI0MjlaMDYx
FzAVBgNVBAoTDnN5c3RlbTptYXN0ZXJzMRswGQYDVQQDExJkb2NrZXItZm9yLWRl
c2t0b3AwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC7x1/9lvyPaXoC
7W9FluBBClCaTBYPGRHTDU/3LV67lRD6mqTLQ3W9P+r12JamFMspPVzZr8XDqFXZ
pe+estg2QsnukeT8ouANNFek6kyHZFj1IVWcHcrSKJWXcOBEjOb8Qqpr7nk0IgKK
/SEAHPC/OicJ3H/BrWHMTVx3wAm8XRYHGMpkwylwFGtj3cWgYOjNcukj85q3gcof
We6mm9awNnZ0fCwUD6XuQxQCIvsjo/c0wS7aeW6IQHe4usKi/gcO6Qm6OciN0BrI
GNnJGGTEpznG+Ct7rOdWaHXDO5iRbkvhogjEBs7066985sjofP0g8RxCFCVHaH8v
NKmRwT4DAgMBAAGjdTBzMA4GA1UdDwEB/wQEAwIFoDATBgNVHSUEDDAKBggrBgEF
BQcDAjAMBgNVHRMBAf8EAjAAMB8GA1UdIwQYMBaAFFSYIhuBenzlth6PSnZfPYvZ
04m9MB0GA1UdEQQWMBSCEmRvY2tlci1mb3ItZGVza3RvcDANBgkqhkiG9w0BAQsF
AAOCAQEAeN1l76vJUzXHpcQoR1/44eE9kTCoq7URC0AbxfX6Xmwa3wGMiMx086bb
06G9fNCIMdA5QsrPEPZTM+59gH7TLKy+x6sKOurxQ/AgX4cOQK5tEqWJ2qvxXsJ/
XWO3fBVSH0rf3vd+8fDSAKYQHEPMWFeIM7i1GHo9lq28DbR08fhGDwJHgp/7cCOP
YJ0ncv1nKX3cSvOblTSIOxn6XTLW+wzPqLjx9TH9H4W+ufrELaLO5uWdWxtT6gH8
MPps93OkwLQmBJ8vgb2xgq9uH3nyiDIWxK6DDDxM+FXdIL50opa2fNqCwVSOvuxT
ftmbLiJQvxsYRPizYKs59YKDKazc8Q==
-----END CERTIFICATE-----